<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>It's Mr. Stick Figure</h1>
    <p>Art party la croix microdosing snackwave mustache. Banh mi woke whatever, tumeric shaman gochujang wayfarers chillwave chicharrones fixie. Jean shorts la croix small batch vice portland, jianbing migas VHS cloud bread. Twee ugh unicorn beard gochujang.</p>

  </div>

</div>
